@tailwind base;
@tailwind components;
@tailwind utilities;

.ce-block__content,
.ce-toolbar__content {
	max-width: calc(100% - 100px) !important;
}
.cdx-block::selection{
	background-color: var(--highlight) !important;
}
.cdx-block {
	max-width: 100% !important;
}
.ce-inline-tool:hover, .ce-inline-toolbar__dropdown:hover, .ce-conversion-toolbar{
	background-color: var(--bg-secondary) !important;
}
.ce-conversion-tool__icon{
	color: rgb(63, 63, 63);
}
.ce-toolbar__plus, .ce-toolbar__settings-btn{
	color: var(--text-primary);
}
.ce-toolbar__plus:hover, .ce-toolbar__settings-btn:hover{
	color: var(--bg-primary);
}

.ce-inline-toolbar {
	background-color: var(--bg-primary) !important;
}

@layer base {
	:root[theme="light"] {
		--text-primary: #161616;
		--text-secondary: rgb(79, 79, 79);
		--text-muted: rgb(122, 122, 122);
		--text-opposite: white;
		--bg-primary: white;
		--bg-secondary: #eeeff1;
		--selected: #fdfdfd;
		--highlight: lightblue;
	}

	:root[theme="dark"] {
		--text-primary: white;
		--text-secondary: rgb(228, 225, 225);
		--text-muted: rgb(174, 173, 173);
		--text-opposite: black;
		--bg-primary: #0f1011;
		--bg-secondary: #1c1d1e;
		--selected: #0f1011;
		--highlight: rgb(80, 92, 229);
	}
	body,
	#root,
	html,
	.home {
		height: 100%;
		font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
			"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
			"Helvetica Neue", sans-serif;
	}
	::-webkit-scrollbar {
		width: 10px;
		border-radius: 5px;
	}

	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: var(--bg-secondary);
	}

	::-webkit-scrollbar-thumb {
		background-color: gray;
		border-radius: 10px;
	}

	body {
		background-color: var(--bg-primary);
		color: var(--text-primary);
	}
	h1 {
		font-size: 32px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18.72px;
	}
	h4 {
		font-size: 13.28px;
	}
	h5 {
		font-size: 13.28px;
	}
	h6 {
		font-size: 10.72px;
	}
	.app-sidebar {
		background: var(--bg-secondary);
		color: var(--text-primary);
	}
	.home {
		background-color: #0f182d;
	}
	.app-main {
		background: var(--bg-primary);
	}
	#notFoundHeader {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.inputTitle::selection {
		background-color: var(--highlight);
	}
	.inputTitle,
	.inputBody {
		background-color: var(--bg-primary);
		border-radius: 5px;
		color: var(--text-primary);
	}

	.fadeOut {
		animation: fadeOut 0.5s ease forwards;
	}
	.fadeIn {
		animation: fadeIn 0.5s ease forwards;
	}

	@keyframes fadeOut {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.spin {
		animation-name: spin;
		animation-duration: 0.6s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes spin {
		0% {
			rotate: 0;
		}
		100% {
			rotate: 180deg;
		}
	}
}
